---

import { Icon } from "astro-icon/components";
import "./bar.css";
---

<header>
  <!-- <Icon name="logo--purple" /> -->
  <div class="button-container">
    <button class="button">
      <Icon name="mdi:menu" />
    </button>
  </div>
</header>