---
import BaseLayout from "./BaseLayout.astro";


---
<BaseLayout title="Programme">
<section> 
  <h1>Programme Page</h1>
  <p>Programme Page content goes here</p>
  <div class="test-box">

  </div>
</section>

<style>
  .test-box {
    width: var(--space-2xl);
    height: var(--space-2xl);
    background-color: var(--color-purple-700);
  }
</style>

</BaseLayout>